body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514E;
}

h1 {
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #F1A661;
  line-height: 1;

}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #F1A661;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #E38B29;
}
p{
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: #DDDDDD;
  border-width: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;

}

.btn {
  background-image: linear-gradient(#FDEEDC, #F1A661);
  position: relative;
  top: 30px;
  margin: 100px auto 100px auto;
  color: white;
  font-size: 1.3125rem;
  font-family:'Montserrat' , sans-serif ;
  text-shadow: #F1A661;
  border-radius: 8;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
}

.btn:hover {
  background: #F1A661;
  background-image: linear-gradient(#D7C0AE, #EEE3CB);
  :
    text-decoration:none;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chocolate-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #FDEEDC;
  position: relative;
  padding-top: 100px;
}

.middle-container {

  margin: 100px 0;
}

.bottom-container {
  background-color: #E38B29;
  text-decoration: none;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 0.650rem;
  line-height: 2;
  color: #FFD8A9;

}
a{
margin: 10px 20px;
color:#F1A661;
text-decoration: none;
font-family:'Montserrat' , sans-serif ;

}

a:hover{
  color: white;
}
.copyright{
  color:#FFD8A9;
}
}
.web {
  text-decoration: underline;
}

.top-container {
  position: relative;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 54px;
}
